SECURITY_GROUP_NAME=""
SECURITY_GROUP_DESC=""
KEY_NAME=""

# If you don't specify a public key, a key will be created for you.
# This is an example of how you should put the contents of your public key.
# If you don't already have a key, don't uncomment the next line.
#PUBLIC_KEY="9wIVxakAJ1FJoBeZ5XjRr4hj58VIlTmLFdVBOYSV9HCGOAIIdiSMiCgMnB1rYqANFKxWxpN4XPwYwSTvXMdbB13RimWRMW52cTZUxIAa2S2pT0jnu8IaAXBctLl178FMyC2GumWw2qIHTFHfyEK0HCibVt2bFpYDDwE4D4euxD16veBDBH9IJyLAmwQPl4LJyFZk8JELynZPo7Vx8g3A6PUqOOSfbMS03fqRjElzCx49HXW95IJvUieGxPooWQtHdauf7JCN77lHj4CGti9aFPAnbWePAOZHFTOMetp2HJnxQj1wXd2MEhayzzIdneciA9AA7x7WzuHtzS5Rb5C9UiyScl7A3PUK9hSSftAtOIamD4rANrXX9I5RAAjA5gpi2UmU7hS"

COUNT="1"
INSTANCE_TYPE="t2.micro"
